footer
    p Generated with <a href="https://github.com/CyclopsMC/infobook-html" target="blank">cyclops-infobook-html</a>.
    p <a href="https://www.rubensworks.net/">Ruben Taelman</a> &#169; 2019
    script(src="/assets/main.js")