header
    div(class="inner")
        h1=mainTitle

div(class="breadcrumbs")
    ul
        each val in breadcrumbs
            if val.url
                li
                    a(href=val.url) !{val.name}
            else
                li !{val.name}