<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
ins(class="adsbygoogle", style="display:block", data-ad-client=client, data-ad-slot=slot, data-ad-format=format,data-full-width-responsive="true")
script (adsbygoogle = window.adsbygoogle || []).push({});
