body {
    font-family: 'Open Sans', sans-serif;
    background: var(--color-outer-background);
    margin: 0;
}

header {
    font-weight: bolder;
    padding: 10px;
    background: var(--color-border);
    background-image: linear-gradient(to right, var(--color-border-light), var(--color-border-light), var(--color-border));
}

footer {
    color: #d3d3d3;
    font-size: 12px;
    margin: 10px;
}

footer a {
    color: #d3d3d3;
}

footer a:hover {
    color: #a0a0a0;
}

h1, h2, h3, h4 {
    color: var(--color-h);
    font-family: 'Droid Sans', sans-serif;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    color: #d3d3d3;
    font-family: 'Droid Sans', sans-serif;
}

.breadcrumbs ul li a {
    color: #d3d3d3;
}

.breadcrumbs ul li a:hover {
    color: white;
}

.breadcrumbs li {
    padding: 2px;
    display: inline-block;
    font-size: 12px;
}

.breadcrumbs li::before {
    content: "> ";
}

.main-outer {
    background: var(--color-main-background);
}

section.main {
    padding: 10px;
    min-height: 600px;
    width: 800px;
    margin: auto;
}

a {
    color: #292929;
}

a:hover {
    color: #4c4c4c;
}

.appendix-wrapper {
    text-align: center;
}

.appendix {
    margin: 5px;
    text-align: center;
    border-radius: 25px;
    border: solid 2px var(--color-border);
    display: inline-block;
    padding: 2px;
}

.appendix-header {
    width: 200px;
    display: inline-block;
    border: solid 2px var(--color-border);
    border-top: none;
    border-radius: 0 0 25px 25px;
    background-color: var(--color-border-muted);
    color: var(--color-h);
    font-weight: bold;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    position: relative;
    top: -2px;
}

.appendix-image {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border-radius: 25px;
    margin: 0;
    position: relative;
    top: 1px;
}

.crafting_recipe table.inputs {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    border-collapse: collapse;
}

.crafting_recipe table.inputs td {
    padding: 0;
}

div.item {
    padding: 2px;
    border: 2px solid black;
    border-right-color: white;
    border-bottom-color: white;
    height: 32px;
    width: 32px;
    text-align: right;
}

img.item-icon {
    width: 32px;
    height: 32px;
}

div.item .item-count {
    color: white;
    font-weight: bold;
    position: relative;
    top: -22px;
    left: 2px;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Courier New", monospace;
}

.crafting_recipe table.inputs ul {
    margin: 0;
    padding: 0;
}

.crafting_recipe table.inputs ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.crafting_recipe table.inputs ul.alternatives li:not(:first-child) {
    display: none;
}

.crafting_recipe table.inputs ul.alternatives-updating li:not(.item-variant-selected) {
    display: none;
}

.crafting_recipe .arrow {
    display: inline-block;
    margin: 10px;
    font-weight: bolder;
    font-size: 50px;

    vertical-align: middle;
    position: relative;
    top: -7px;
}

.crafting_recipe .output {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.advancement_rewards {
    width: 400px;
}

.advancement_rewards .advancements li {
    list-style-type: circle;
}

.advancement_rewards {
    text-align: left;
}

.advancement_rewards .advancements .advancement-title {
    font-weight: bold;
    font-size: 12px;
}

.advancement_rewards .advancements .advancement-title::after {
    content: ": ";
}

.advancement_rewards .advancements .advancement-description {
    font-size: 12px;
}

.advancement_rewards .rewards-string {
    font-weight: bold;
}

.advancement_rewards .rewards-string::after {
    content: ": ";
}

.advancement_rewards table.rewards {
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
    border-collapse: collapse;
}

.advancement_rewards table.rewards td {
    padding: 0;
    margin: 0;
}

.keybinding {
    width: 400px;
}

.keybinding .name {
    font-weight: bold;
}

.keybinding .key {
    font-size: 20px;
}
